body {
    background-color: powderblue;
  }
  h1 {
    color: rgb(134, 134, 168);
    text-align: center;
   
  }
  p {
    color:rgb(38, 36, 39);
    text-align: center;
    margin-bottom: 10px;
  } 
  header h1{
      font-size: 50px;
  }     
header ul li {
    display: inline;
    padding: 5px;
    margin: 10px;

    border: solid tomato;
}
header nav{
    margin-bottom: 30px;
    margin-top:20px ;
}
section h1{
    margin-bottom: 30px;
    font-size: 25px;
}
section p{
    text-indent: 20px;
    margin-left: 10px;
    line-height: 1.5;
}
img{
    margin: top 30px;px;
    margin-bottom: 30px;

}
footer{
    margin-top: 17%;
    text-align: center;
    background-color: rgb(38, 36, 39);
    color: seashell;
}

section h2 lu li {
    float: right;
    line-height: 3;
}
h2{
    font-size: 25px;
    line-height: 1.5
    ;
}
